Ensure message parameters are correctly interpreted when not sent as trailing parameter

Quassel sends `PRIVMSG <nick> <message>` instead of `PRIVMSG <nick> :<message>` when message is only one word without a space. Currently, this incorrectly results in a “No text to send” error, but [RFC 2813 section 2.3.1](https://tools.ietf.org/html/rfc2812#section-2.3.1) says:

```
      1) After extracting the parameter list, all parameters are equal
         whether matched by <middle> or <trailing>. <trailing> is just a
         syntactic trick to allow SPACE within the parameter.
```

We should fix this issue for `PRIVMSG` and audit all other commands to find similar issues.


https://github.com/sorcix/irc/issues/18 is relevant.

@belak noticed the same issue earlier. There is a v2 branch with an updated Message struct without `.Trailing` that simply uses the last item in `Params[]` as trailing argument.

Had to roll this back. Filed https://github.com/sorcix/irc/issues/26 for the issue I was seeing.

Fixed with commit https://github.com/robustirc/robustirc/commit/265cf4bb6084cfcacb3f2b16b357c09b2d265214